html, body {
    font-family: sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    border-bottom: 1px dashed lightgray;
}

.btn {
    user-select: none;
    display: inline-block;

    font-size: 4em;
    padding: 0 0.5em;
    margin: 0 0.3em;

    cursor: pointer;
    border-radius: 10px;
    transition: 0.15s ease-in-out;

    background-color: lightgray;
}

.off       { background-color: pink; }
.on        { background-color: lightgreen; }
/*
.off:hover { background-color: lightgreen; }
.on:hover  { background-color: salmon; }
*/

.engage {
    padding: 1em;
    margin-top: 1em;
}
